nav{
    .container{
        overflow: hidden;
        .nav-brand{
            .logo{
                max-width: 100%;
                width:auto;
                float: left;
            }
        }
    }
}
