{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
            <form id="form" action="." method="post">
                {% csrf_token %}
                <div id="user-info">
                    <p>kindly fill this form:</p>
                    <hr>
                    <div class="form-field">
                        <label for="time ">Time</label>
                        <input required  class="form-control" name="time" type="time" placeholder="Time..">
                    </div>
                    <div class="form-field">
                        <label for="tableno">Table No:-</label>
                        <input required  class="form-control" name="tableno" type="number" placeholder="Table number..">
                    </div>
                    <div  aria-required="true" class="form-field">
                        <label for="ordertype">Select Order</label>
                        <select required name="odertype"  autofocus id="ordertype">
                            <option disabled="disabled" value="Reservation">Select Type</option>
                            <option value="Reservation">Reservation</option>
                            <option value="Takeaway">Takeaway</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="phone">Phone</label>
                        <input required class="form-control" type="number" name="phone" placeholder="Phone number..">
                    </div>   
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="continue">
            </form>
            
            <br>
            <br>
		</div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>paypal options</small>
            <h2><i class="fa fa-download"></i><a style="text-decoration: none; color: black;" href="{% url 'receipt' %}">Receipt</a></h2>
            <div id="paypal-button-container"></div>
            <button id="make-payment" class="btn btn-blue-grey btn-outline-dark-green">
                <a href="{% url 'transaction' %}" class="mpesa" style="text-decoration: none; color: green; font-weight: 600;">mpesa</a>
                </button>
            <hr>
        </div>		
	</div>

	<div class="col-lg-6">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.products.image.url}}"></div>
                <div style="flex:2"><p>{{item.products.name}}</p></div>
                <div style="flex:1"><p>Ksh.{{item.products.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ksh. {{order.get_cart_total|floatformat:2}}</h5>
           
		</div>
	</div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=Abzo1_my40_FdIMgLaehcfOU6SGiPlZfgcL4q0DSRCKhbejzUphjLzxjW-7PqSEXWwVRUMdaBX93YTcY&currency=USD&disable-funding=credit"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    var total = '{{order.get_cart_total}}'
    paypal.Buttons({
        style:{
            color:'blue',
            shape:'pill',
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                submitFormData()
            });
        }


    }).render('#paypal-button-container');
</script>


<script type="text/javascript">
    var user = '{{request.user}}'
    var total = '{{order.get_cart_total}}'

    var form = document.getElementById('form')

    form.addEventListener('submit',function(e){
        e.preventDefault()
        console.log('submited')
        document.getElementById('form-button').classList.add("hidden")
        document.getElementById('payment-info').classList.remove("hidden")
    })
/*
    document.getElementById('make-payment').addEventListener('click',function(e){
        
        console.log("form submitted")
    })*/
    function submitFormData(){
        console.log(' payment button clicked')

        var userFormData = {
            'time':null,
            'tableno':null,
            'phone':null,
            'ordertype':null,
            'total':total,
        }
        if(user != 'AnonymousUser'){
            userFormData.time = form.time.value
            userFormData.tableno = form.tableno.value
            userFormData.phone = form.phone.value
            userFormData.ordertype = form.ordertype.value
            
        }

        var url ='/process_order/'
        fetch(url,{
            method:'POST',
            headers:{
                'content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData})
        })
        .then((response)=>response.json())
        .then((data) => {
            console.log('sucess',data);
            alert('Transaction completed we are working on your order');
            window.location.href = "{% url 'index' %}"
        })
    }
</script>
{% endblock %}