<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/dasboard.css">
  <title>Dashboard</title>
</head>
<body>
  <section class="staff">
    <div class="staff-info">
      <div class="staff-name">
        <h2>name</h2>
        <a href="#">log-out</a>
      </div>
    </div>
  </section>

  <section class="stats">
    <div class="basic-stats">
      <div class="total-profiles">
        <p>Aggregate customers :0</p>
      </div>
      <div class="active-profiles">
        <p>active profiles :</p>
      </div>
      <div class="today-orders">
        <p>today-totals</p>
      </div>
    </div>
  </section>


  <section class="orders">
    <div class="takeaway-table">
      <table>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Orer id</th>
            <th scope="col">table</th>
            <th scope="col">time</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>chris</td>
            <td>36</td>
            <td>20</td>
            <td>00.00.00</td>
            <td><input type="checkbox" name="status" id="status"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="reservation-table">
      <table>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Orer id</th>
            <th scope="col">table</th>
            <th scope="col">time</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>chris</td>
            <td>36</td>
            <td>20</td>
            <td>00.00.00</td>
            <td><input type="checkbox" name="status" id="status"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  
  
  
  
</body>
</html>