<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dasboard.css' %}">
  <title>Dashboard</title>
</head>
<body>
  <section class="staff">
    <div class="staff-info">
      <div class="staff-name">
        <h3>Welcome {{user}}</h3>
        <a href="#">log-out</a>
        <a href="#">Admin-panel</a>
      </div>
    </div>
  </section>

  <section class="stats">
    <div class="basic-stats">
      <div class="total-profiles">
        <p>total customers {{total_customer}}</p>
      </div>
      <div class="active-profiles">
        <p>active profiles:{{total_customer}}</p>
      </div>
      <div class="today-orders">
        <p>today-totals: {{completed_orders}}</p>
      </div>
    </div>
  </section>


  <section class="orders">
    <div class="takeaway-table">
      <table class="styled-table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Order_id</th>
            <th scope="col">Phone</th>
            <th scope="col">table</th>
            <th scope="col">time</th>
            <th scope="col">status</th>
            <th scope="col">Paid</th>
          </tr>
        </thead>
        <tbody>
          {% for today_order in all_customer_details %}
          <tr class="active-row">
            <td>{{today_order.id}}</td>
            <td>{{today_order.name}}</td>
            <td>{{today_order.order}}</td>
            <td>0{{today_order.phone}}</td>
            <td>{{today_order.table}}</td>
            <td>{{today_order.time}}</td>
            <td><input type="checkbox" name="status" id="status"></td>
            <td><input type="checkbox" name="paid" id="paid"></td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
    <div class="mpesa-messages">
      <h3>This is mpesa stk push notifications</h3>
      <p>Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. 
      Recusandae quis quae nemo! Expedita
      facere eos ea reprehenderit, rerum at molestias,
      consequuntur nesciunt repellat velit esse dignissimos vel sit. 
      Repellat, molestiae!</p>
    </div>

    <div class="reservation-table">
      <table class="styled-table">
        <thead>
          <tr>  
            <th scope="col">Order_id</th>
            <th scope="col">Cart</th>
            <th scope="col">quantity</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in order_items %}
          <tr class="active-row">
            <td>{{order_item.order}}</td>
            <td><ul><li>{{order_item.products}}</li></ul></td>
            <td>{{order_item.quantity}}</td>
            <td><input type="checkbox" name="status" id="status"></td>
          </tr>
          {% endfor %}
        </tbody> 
      </table> 
    </div>
  </section>

  

  
  
  
  
</body>
</html>