
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaCasaDelLiquor | logout</title>
</head>
<body>
    <div class="wrapper">
        <h2>You have been logged out</h2>
       <div class="border-top pt-3">
        <small class="text-muted">
        <a  class="ml-2" href="{% url 'login' %}">Login again</a>
    </small>
  </div> 
</div>
</body>
</html>